* {
  padding: 0;
  margin: 0;
}
.wrap .pic_box {
  width: 100%;
  position: relative;
  height: 6rem;
  overflow: hidden;
}
.wrap .pic_box > img {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
}
.wrap .contentBox {
  height: 1.920rem;
  width: 100%;
  padding: 0 0.453rem;
  padding-top: 0.160rem;
  background-color: #fff;
}
.wrap .contentBox .pic_toux {
  float: left;
  width: 1.333rem;
  height: 1.333rem;
  border-radius: 50%;
}
.wrap .contentBox .contentRight {
  position: relative;
  margin-left: 1.600rem;
}
.wrap .contentBox .contentRight .con_div1 {
  font-size: 0.347rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #333333;
}
.wrap .contentBox .contentRight .con_div2 {
  font-size: 0.347rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #666;
}
.wrap .contentBox .contentRight .con_p {
  font-size: 0.293rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.427rem;
  letter-spacing: 0px;
  color: #666666;
}
.wrap .contentBox .contentRight .con_p > i {
  color: #108EE9;
  font-size: 0.373rem;
  margin-right: 3px;
}
.wrap .contentBox .contentRight .con_div3 {
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 1.333rem;
  height: 0.613rem;
  background-color: #ff3b30;
  border-radius: 5px;
  color: #fff;
  font-size: 0.293rem;
  line-height: 0.613rem;
  text-align: center;
}
.wrap .tabList {
  margin-top: 0.267rem;
  background-color: #fff;
  height: 1.067rem;
  display: flex;
  justify-content: space-between;
}
.wrap .tabList > li {
  width: 100%;
  font-size: 0.320rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.067rem;
  text-align: center;
  letter-spacing: 0px;
  color: #999999;
}
.wrap .tabList > li > span {
  margin: auto;
  display: block;
  width: 1.600rem;
}
.wrap .tabList .active {
  font-size: 0.400rem;
  color: #333333;
  width: 1.600rem;
  border-bottom: 2px solid #108EE9;
}
.wrap .tabContent {
  margin: 0.187rem 0.267rem;
  margin-bottom: 1.600rem;
}
.wrap .tabContent .tab_job {
  display: block;
}
.wrap .tabContent .tab_job .list-container {
  margin-top: 0.267rem;
  padding: 0.267rem;
  height: 100%;
  height: auto;
  background-color: #fff;
  padding-bottom: 0;
  border-radius: 0.133rem;
}
.wrap .tabContent .tab_job .list-container .list-title {
  display: flex;
  justify-content: space-between;
  /* height: 0.933rem; */
  width: 100%;
  border-bottom: 1px solid #EFEFF4;
  padding-bottom: 0.267rem;
}
.wrap .tabContent .tab_job .list-container .list-title .title-content {
  /*line-height: 0.933rem;*/
  font-size: 0.400rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #333333;
}
.wrap .tabContent .tab_job .list-container .list-title .titel-note {
  font-size: 0.347rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.933rem;
  letter-spacing: 0px;
  color: #666666;
}
.wrap .tabContent .tab_job .list-container .list-content {
  margin: 0.267rem 0;
}
.wrap .tabContent .tab_job .list-container .list-content .content-tit {
  float: left;
  margin-right: 0.213rem;
  margin-top: 0.160rem;
  width: 1.333rem;
  height: 1.333rem;
  border-radius: 0.667rem;
  background-color: #108ee9;
  color: #fff;
  text-align: center;
  line-height: 1.333rem;
  font-size: 0.400rem;
}
.wrap .tabContent .tab_job .list-container .list-content .content-msg .content-msg1 {
  display: flex;
  justify-content: space-between;
}
.wrap .tabContent .tab_job .list-container .list-content .content-msg .content-msg1 .content-msg1-lf {
  font-size: 0.293rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #999999;
}
.wrap .tabContent .tab_job .list-container .list-content .content-msg .content-msg1 .content-msg1-lf > i {
  margin-right: 5px;
  font-size: 0.32rem;
  color: #15bc83;
}
.wrap .tabContent .tab_job .list-container .list-content .content-msg .content-msg1 .content-msg1-rt {
  font-size: 0.400rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #ff3b30;
}
.wrap .tabContent .tab_job .list-container .list-content .content-msg .content-msg2 {
  display: flex;
  justify-content: space-between;
}
.wrap .tabContent .tab_job .list-container .list-content .content-msg .content-msg2 .content-msg2-lf {
  font-size: 0.293rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #999999;
}
.wrap .tabContent .tab_job .list-container .list-content .content-msg .content-msg2 .content-msg2-lf .line {
  display: inline-block;
  height: 0.267rem;
  margin: 0 2px;
  border-left: 1px solid #d7d7d7;
}
.wrap .tabContent .tab_job .list-container .list-content .content-msg .content-msg2 .content-msg2-rt {
  font-size: 0.293rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #666666;
}
.wrap .tabContent .tab_job .list-container .list-content .content-msg .content-msg3 {
  display: flex;
  justify-content: space-between;
}
.wrap .tabContent .tab_job .list-container .list-content .content-msg .content-msg3 .content-msg3-lf {
  font-size: 0.293rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #999999;
}
.wrap .tabContent .tab_job .list-container .list-content .content-msg .content-msg3 .content-msg3-rt {
  font-size: 0.293rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #999999;
}
.wrap .tabContent .tab_job .list-container .list-share{
  display: flex;
  justify-content: space-between;
  height: 1rem;
  width: 100%;
  border-top: 1px solid #EFEFF4;
  line-height: 1rem;
}
.wrap .tabContent .tab_job .list-container .list-share.all{
  background: none;
}
.wrap .tabContent .tab_job .list-container .list-share .title{
  color: #999;
  font-size: 0.347rem;
}
.wrap .tabContent .tab_job .list-container .list-share .title.envelopes{
  color: #FF3B30;
}
.wrap .tabContent .tab_job .list-container .list-share .btns a span{
  font-size: 0.426rem;
}
.wrap .tabContent .tab_job .list-container  .list-share .btns a{
  color: #108ee9;
  font-size: 0.4rem;
}
.wrap .tabContent .tab_js {
  display: none;
}
.wrap .tabContent .tab_js .tab_js_text {
  padding: 0.267rem 0.400rem;
  background-color: #fff;
  color: #666666;
  word-wrap: break-word;
}
.wrap .tabContent .tab_js .tab_js_text > h6 {
  text-indent: 2em;
  font-size: 0.320rem;
  line-height: 0.400rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
}
.wrap .tabContent .tab_js .tab_js_img {
  margin-top: 0.267rem;
  padding: 0.267rem;
  width: 100%;
  background-color: #fff;
  /*margin-bottom: 1.33rem;*/
}
.wrap .tabContent .tab_js .tab_js_img > p {
  font-size: 0.320rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #666666;
}
.wrap .tabContent .tab_js .tab_js_img .pic_yingye {
  display: block;
  margin: 0.267rem auto;
  width: 8.000rem;
}
.wrap .fiexd_btn {
  width: 100%;
  position: fixed;
  bottom: 0.400rem;
  left: 0;
}
.wrap .fiexd_btn > a {
  display: block;
  margin: auto;
  width: 9.093rem;
  height: 1.067rem;
  background-color: #108ee9;
  border-radius: 0.533rem;
  color: #fff;
  font-size: 0.400rem;
  line-height: 1.067rem;
  text-align: center;
}

.edit_btns{
  border: 1px solid #108ee9;
  color: #108ee9;
  position: absolute;
  right: 0;
  top: 0.746rem;
  padding: 0.08rem 0.6rem;
  border-radius: 0.2rem;
}
.wrap .cut_bg{
  position: relative;
  /*overflow: hidden;*/
  height: 6rem;
}
.wrap .cut_bg .btns{
  position: absolute;
  bottom: 5px;
  right: 0.32rem;
}
.wrap .cut_bg .btns a{
  color: #fff;
  font-size: 14px;
}
.wrap .cut_bg .linear-gradient{
  width: 100%;
  height: 1.33rem;
  background: -webkit-linear-gradient(-90deg,rgba(0, 0, 0, 0) 2%,rgba(0, 0, 0, 0.4) 100%);
  z-index: 99;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  padding: 0 0.453rem;
}
.wrap .cut_bg .linear-gradient span.icon-erweima{
  font-size: 0.533rem;
  color: #fff;
  position: absolute;
  right: 0.453rem;
  bottom: 0.107rem;
  text-shadow: 0px 1px 0px #666;
}
.forwardName {
  background-color: #ff3b30;
  color: white;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  height: 18px;
  width: 18px;
  line-height: 20px;

}
.wrap .cut_bg .linear-gradient .follow{
  position: absolute;
  right: 0.133rem;
  bottom: 0.08rem;
}
.wrap .cut_bg .linear-gradient .follow .btns{
  font-size: 0.293rem;
  width: 1.33rem;
  height: 0.533rem;
  line-height: 0.533rem;
  text-align: center;
  border-radius: 0.133rem;
  border: 1px solid #fff;
  color: #fff;
  display: block;
}
.wrap .cut_bg .linear-gradient .follow .btns.al_btns{
  background: #ff3a3b;
  color: #fff;
  border: 1px solid #ff3a3b;
}
.wrap .switch-content-box{
  position: absolute;
  right: 0px;
  top: 0.533rem;
  z-index: 99;
}
.wrap .switch-content-box .switch-btns{
  width: 2.533rem;
  height: 0.667rem;
  text-indent: 0.32rem;
  line-height: 0.627rem;
  line-height: 0.627rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  font-size: 0.32rem;
  color: #fff;
  background: rgba(51, 51, 51, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.8);
  display: inline-block;
  border-right: 0;
}
.wrap .switch-content-box .switch-btns .icon{
    position: relative;
}
.wrap .switch-content-box .switch-btns .icon em{
    width: 7px;
    height: 7px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(-45deg);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.wrap .switch-content-box .switch-btns .icon i{
    width: 7px;
    height: 7px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    border-right: 1px solid rgba(255,255,255,0.4);
    transform: rotate(-45deg);
    display: block;
    position: absolute;
    left: 0.133rem;
    top: 0;
    bottom: 0;
    margin: auto;
}
.wrap .switch-content-box .switch-btns .icon i{
    color: rgba(255,255,255,0.4);

}
.wrap .perInform{
  position: absolute;
  bottom: -13%;
  z-index: 222;
  padding: 0 0.453rem;
  overflow: hidden;
  width: 100%;
}
.wrap .perInform .box-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .perInform .box-area .photo{
  height: 1.6rem;
  width: 1.6rem;
  border: 1px solid #fff;
  overflow: hidden;
  border-radius: 100%;
  float: left;
}
.wrap .perInform .box-area .photo img{
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.wrap .perInform .list-item{
  float: left;
  margin-left: 0.107rem;
  /*margin-top: 0.267rem;*/
  width: 80%;
}
.wrap .perInform .list-item .name{
  font-size: 0.4rem;
  color: #fff;
  /* margin-top: 0.267rem; */
  text-shadow: 0px 1px 0px #666;
  font-weight: 500;
  line-height: 1;
}
.wrap .perInform .list-item .count{
  margin-top: 0.267rem;
  display: flex;
  align-items: center;
  line-height: 1;
}
.wrap .perInform .list-item .count .left{
  color: #999;
  font-size: 0.32rem;
  line-height: 1;
  width: 65%;
}
.wrap .perInform .list-item .count .right{
  line-height: 1;
  width: 35%;
  text-align: right;
}
.wrap .perInform .list-item .count span{
  font-size: 0.32rem;
  color: #108ee9;
  margin-right: 0.267rem;
}
.wrap .perInform .list-item .count span.margt{
  margin-right: 0;
}
.wrap .perInform .list-item .count span.iconfont{
  margin-right: 0;
  line-height: 1;
  font-size: 0.347rem;
}
.wrap .perInform .list-item .count span i{
  font-size: 0.4rem;
  font-style: normal;
  font-weight: normal;
}
.wrap .perInform .list-item .count a{
  font-size: 0.32rem;
  color: #ff3b30;
  width: 48%;
}
.wrap .perInform .list-item .count a i{
  font-size: 0.32rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.wrap .audited-box{
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.wrap .audited-box a{
  background-color: #fff;
  color: #108EE9;
  padding: 0.267rem 0.373rem;
  text-align: center;
  border: 1px solid #108ee9;
  border-radius: 0.533rem;
  font-size: 0.373rem;
  margin-top: 0.267rem;
}
.wrap .synopsis-box{
  background: #fff;
  height: 2.0rem;
  overflow: hidden;
  padding: 0 0.453rem;
}
.wrap .synopsis-box .abstract{
  font-size: 0.347rem;
  color: #999;
  padding-top: 1.067rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wrap .text_resume .textarea{
  border: 0;
  height: 5rem;
  resize: none;
  color: #666;
  padding: 10px;
  text-indent: 2em;
  font-size: 0.35rem;
}
.wrap .private_footer_fixed {
  width: 100%;
  height: 1.333rem;
  background-color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
}

.wrap .private_footer_fixed .btn {
  margin: 0.187rem auto;
  width: 9.093rem;
  height: 0.933rem;
  background-color: #108ee9;
  border-radius: 0.453rem;
  font-size: 0.400rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.933rem;
  text-align: center;
  letter-spacing: 0px;
  color: #ffffff;
}
.foot_margin {
  clear: both;
  height: 0.5rem;
  overflow: hidden;
}
.wrap .cut_bg{
  position: relative;
}
.wrap .cut_bg .changebtn{
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

.switch-popup-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 500ms;
  transition: transform 500ms;
  width: 100%;
  height: 100%;
  z-index: 1110;
}
.switch-popup-backdrop .switch-box{
  width: 70%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  bottom: 0;
  background: #f2f5f7;
  z-index: 9990;
  padding-top: 0.72rem;
}
.modal-active {
  transform: translateX(0px);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0)
}

.am-modal-out {
  z-index: 1109;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%)
}
.switchbg {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1100;
  display: none;
}
.switchbg-active {
  opacity: 1;
  display: block;
}

.switch-popup-backdrop .switch-box .work-list{
  margin-bottom: 0.267rem;
}
.switch-popup-backdrop .switch-box .work-list .txt{
  font-size: 0.32rem;
  color: #999;
  padding:0 0.533rem;
  margin-bottom: 0.267rem;
  line-height: 1;
}
.wrap .switch-popup-backdrop .switch-content-box{
  position: absolute;
  left: 4.8%;
  top: 0.533rem;
  z-index: 9999;
  right: 0;
}
.switch-popup-backdrop .switch-box .work-list .name{
  font-size: 0.373rem;
  color: #333333;
  background: #fff;
  height: 1.067rem;
  line-height: 1.067rem;
  padding:0 0.533rem;
  padding-right: 0.48rem;
}
.switch-popup-backdrop .switch-box .work-list .name.curr{
  color: #108ee9;
}
.switch-popup-backdrop .switch-box .work-list .name.border-bottom{
  border-bottom: 1px solid #EFEFF4;
}
.switch-popup-backdrop .tips{
  font-size: 0.32rem;
  color: #999;
  padding:0 0.533rem;
}


@media screen and (max-width: 330px){
  .wrap .contentBox{
    height: 2.2rem;
  }
}

.wrap .contentBox .contentRight .con_div1 {
  font-size: .347rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0;
  color: #333;
  display: flex;
  justify-content: space-between;
}
.wrap .contentBox .contentRight .con_div1 .r_flex {
  color: #108ee9;
  font-size: .347rem;
}



/*************************** 待审核 check_pending.jsp*****************************************/

.page_check_pending .allJob_workList {
  display: block;
}
.page_check_pending .allJob_workList .link {
  margin: 0 0.187rem 0.267rem 0.187rem;
  height: auto;
  overflow: hidden;
}
.page_check_pending .allJob_workList  .list-container {
  padding: 0 0.267rem;
  height: auto;
  margin-bottom: 0.267rem;
  background: #fff;
  margin-left: 0.187rem;
  margin-right: 0.187rem;
  border-radius: 0.133rem;
}
.page_check_pending .allJob_workList .list-container .list-title {
  display: flex;
  justify-content: space-between;
  height: 0.933rem;
  width: 100%;
  border-bottom: 1px solid #EFEFF4;
}
.page_check_pending .allJob_workList .list-container .list-title .title-content {
  line-height: 0.933rem;
  font-size: 0.400rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #333333;
}
.page_check_pending .allJob_workList .list-container .list-title .titel-note {
  font-size: 0.347rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.933rem;
  letter-spacing: 0px;
  color: #666666;
}
.page_check_pending .allJob_workList .list-container .list-content {
  display: block;
  margin: 0.267rem 0;
}
.page_check_pending .allJob_workList .list-container .list-content .content-tit {
  float: left;
  margin-right: 0.213rem;
  margin-top: 0.160rem;
  width: 1.333rem;
  height: 1.333rem;
  border-radius: 0.667rem;
  background-color: #108ee9;
  color: #fff;
  text-align: center;
  line-height: 1.333rem;
  font-size: 0.400rem;
}
.page_check_pending .allJob_workList .list-container .list-content .content-msg {
  padding-left: 1.600rem;
}
.page_check_pending .allJob_workList .list-container .list-content .content-msg .content-msg1 {
  display: flex;
  justify-content: space-between;
}
.page_check_pending .allJob_workList .list-container .list-content  .content-msg1-lf {
  font-size: 0.293rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #999999;
}
.page_check_pending .allJob_workList .list-container .list-content .content-msg1-lf > i {
  margin-right: 5px;
  font-size: 0.320rem;
  color: #15bc83;
}
.page_check_pending .allJob_workList .list-container .list-content .content-msg1-rt {
  font-size: 0.400rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #ff3b30;
}
.page_check_pending .allJob_workList .list-container .list-content .content-msg .content-msg2 {
  display: flex;
  justify-content: space-between;
}
.page_check_pending .allJob_workList .list-container .list-content  .content-msg2-lf {
  font-size: 0.293rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #999999;
}
.page_check_pending .allJob_workList .list-container .list-content .content-msg2-lf .line {
  display: inline-block;
  height: 0.267rem;
  margin: 0 2px;
  border-left: 1px solid #EFEFF4;
}
.page_check_pending .allJob_workList .list-container .list-content .content-msg2-rt {
  font-size: 0.293rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #666666;
}
.page_check_pending .allJob_workList .list-container .list-content .content-msg .content-msg3 {
  display: flex;
  justify-content: space-between;
}
.page_check_pending .allJob_workList .list-container .list-content  .content-msg3-lf {
  font-size: 0.293rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #999999;
}
.page_check_pending .allJob_workList .list-container .list-content .content-msg3-rt {
  font-size: 0.293rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #999999;
}
.page_check_pending .allJob_workList .list-container .list-content .content-msg3-rt > em {
  font-style: normal;
  color: #15bc83;
}
.page_check_pending .allJob_workList .list-container .btnBox {
  text-align: right;
  padding: 0.267rem 0;
  overflow: hidden;
  margin-bottom: 0;
  margin-top: 0;
  border-top: 1px solid #d7d7d7;
}
.page_check_pending .allJob_workList .list-container .btnBox .btn_contact {
  width: 1.733rem;
  height: 0.613rem;
  font-size: 0.293rem;
  line-height: 0.613rem;
  padding: 0;
  margin: 0;
  margin-right: 3px;
  color: #666;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #666666;
}
.page_check_pending .allJob_workList .list-container .btnBox .btn_advisory {
  width: 1.733rem;
  height: 0.613rem;
  font-size: 0.293rem;
  line-height: 0.613rem;
  padding: 0;
  margin: 0;
  margin-right: 3px;
  color: #666;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #666666;
}
.page_check_pending .allJob_workList .list-container .btnBox .resignation {
  width: 1.733rem;
  height: 0.613rem;
  font-size: 0.293rem;
  line-height: 0.613rem;
  padding: 0;
  margin: 0;
  margin-right: 3px;
  color: #666;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #666666;
}
.page_check_pending .allJob_workList .list-container .btnBox .btn_cancel {
  width: 1.733rem;
  height: 0.613rem;
  font-size: 0.293rem;
  line-height: 0.613rem;
  padding: 0;
  margin: 0;
  margin-right: 3px;
  color: #666;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #666666;
}
.page_check_pending .allJob_workList .list-container .btnBox input {
  width: 1.733rem;
  height: 0.613rem;
  font-size: 0.293rem;
  line-height: 0.613rem;
  padding: 0;
  margin: 0;
  margin-left: 0.667rem;
  border-radius: 0.133rem;
}
.page_check_pending .allJob_workList .list-container .btnBox .btn_fail {
  color: #666;
  border: solid 1px #666666;
}
.page_check_pending .allJob_workList .list-container .btnBox .btn_adopt {
  color: #108ee9;
  border: solid 1px #108ee9;
}

/***************************** 历史职位 history_job.jsp ************************/
.page_check_pending.historyJob .allJob_workList .list-container {
  margin-left: 0.187rem;
  margin-right: 0.187rem;
}
.page_check_pending.historyJob .Jobtips{
  height: 0.8rem;
  line-height: 0.8rem;
  background: #f3ebe4;
  overflow: hidden;
  padding: 0 0.453rem;
  margin-bottom: 0.267rem;
  overflow: hidden;
  font-size: 0.32rem;
  color: #e8541e;
}