* {
  padding: 0;
  margin: 0;
}
.wrap {
  width: 100%;
  height: 100%;
}
.wrap .mui-content .mui-input-row {
  height: 1.333rem;
  background-color: #fff;
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.wrap .mui-content .mui-input-row > i {
  font-size: 0.586667rem;
  position: absolute;
  top: 0.346667rem;
  left: 0.666667rem;
  color: #999;
}
.wrap .mui-content .mui-input-row > input {
  padding-left: 0.800rem;
  margin: 0.267rem 0.453rem;
  width: 9.093rem;
  height: 0.800rem;
  border: none;
  outline: none;
  font-size: 0.373rem;
  background-color: #f2f5f7;
  border-radius: 0.400rem;
}
.wrap .mui-content .mui-input-row ::-webkit-input-placeholder {
  color: #999;
}
.icon-fujin {
  color: #108ee9;
  margin: 0 5px;
}
.wrap .mui-content .mui-input-row > span.mui-icon-clear {
  top: 0.400rem;
  right: 0.400rem;
}
.wrap .mui-content .mui-indexed-list-bar {
  background-color: #f2f5f7;
}
.wrap .mui-content .mui-indexed-list-inner .mui-table-view {
  background-color: #f2f5f7;
}
.wrap .mui-content .mui-indexed-list-inner .mui-table-view .module-indexed-box {
  margin-left: 0.453rem;
  margin-right: 1.280rem;
}
.wrap .mui-content .mui-indexed-list-inner .mui-table-view .module-indexed-box .positioning {
  padding-top: 0.267rem;
}
.wrap .mui-content .mui-indexed-list-inner .mui-table-view .module-indexed-box .positioning .module-address {
  font-size: 0.373rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #999999;
}
.wrap .mui-content .mui-indexed-list-inner .mui-table-view .module-indexed-box .positioning .positioning-map {
  margin-top: 0.267rem;
  margin-bottom: 0.400rem;
  width: 2.533rem;
  height: 0.933rem;
  text-align: center;
  line-height: 0.933rem;
  background-color: #ffffff;
  border-radius: 0.453rem;
  font-size: 0.373rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #666666;
}
.wrap .mui-content .mui-indexed-list-inner .mui-table-view .module-indexed-box .recent .recent-area {
  margin-bottom: 0.267rem;
}
.wrap .mui-content .mui-indexed-list-inner .mui-table-view .module-indexed-box .recent .recent-area > li {
  float: left;
  margin-top: 0.267rem;
  width: 2.267rem;
  height: 0.933rem;
  line-height: 0.933rem;
  text-align: center;
  font-size: 0.373rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #666666;
  background-color: #fff;
  border-radius: 0.453rem;
}
.wrap .mui-content .mui-indexed-list-inner .mui-table-view .module-indexed-box .recent .recent-area > li:nth-child(3n) {
  margin-left: 0.533rem;
}
.wrap .mui-content .mui-indexed-list-inner .mui-table-view .module-indexed-box .recent .recent-area > li:nth-child(3n+1) {
  margin-left: 0.533rem;
}
.wrap .mui-content .mui-indexed-list-inner .mui-table-view .module-indexed-box .hot .hot-area {
  margin-bottom: 0.267rem;
}
.wrap .mui-content .mui-indexed-list-inner .mui-table-view .module-indexed-box .hot .hot-area > li {
  float: left;
  margin-top: 0.267rem;
  width: 2.267rem;
  height: 0.933rem;
  line-height: 0.933rem;
  text-align: center;
  font-size: 0.373rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #666666;
  background-color: #fff;
  border-radius: 0.453rem;
}
.wrap .mui-content .mui-indexed-list-inner .mui-table-view .module-indexed-box .hot .hot-area > li:nth-child(3n) {
  margin-left: 0.533rem;
}
.wrap .mui-content .mui-indexed-list-inner .mui-table-view .module-indexed-box .hot .hot-area > li:nth-child(3n+1) {
  margin-left: 0.533rem;
}
.wrap .mui-content .mui-indexed-list-inner .mui-table-view .mui-table-view-divider {
  font-size: 0.373rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #999999;
}
.wrap .mui-content .mui-indexed-list-inner .mui-table-view .mui-table-view-cell {
  font-size: 0.400rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #666666;
}
.wrap .mui-content .mui-indexed-list-inner .mui-table-view .more_city_box,.wrap .mui-content .mui-indexed-list-inner .mui-table-view .cityListPanel{
  margin:0 0.453rem;
  padding-top: 0.267rem;
}
.wrap .mui-content .mui-indexed-list-inner .mui-table-view .more_city_box .city_list{
  overflow: hidden;
  margin-top: 0.267rem;
}
.wrap .mui-content .mui-indexed-list-inner .mui-table-view .more_city_box .city_list a{
  float: left;
  background-color: #fff;
  margin-right: 0.28rem;
  margin-bottom:  0.3rem;
  font-size: 0.373rem;
  color: #666;
  border-radius: 50%;
  text-align:  center;
  height: 1.05rem;
  width: 1.05rem;
  line-height: 1.05rem;
}
.wrap .mui-content .mui-indexed-list-inner .mui-table-view .more_city_box .city_list a:nth-child(7n+7){
  margin-right:0;
}
.wrap .mui-content .mui-indexed-list-inner .mui-table-view .more_city_box .city_list a.current{
  background-color: #d9efff;
  border: 1px solid #108ee9;
  color: #108ee9;
}

.wrap .mui-content .mui-indexed-list-inner .mui-table-view .cityListPanel{
  display: none;
}
.wrap .mui-content .mui-indexed-list-inner .mui-table-view .cityListPanel ul li{
  /*border-bottom: 1px solid #c8c7cc;*/
  color:  #666;
  padding: 0.267rem 0;
  font-size: 0.373rem;
}
.wrap .mui-content .mui-indexed-list-inner .mui-table-view .cityListPanel ul li:last-child{
  border-bottom:0;
}
.wrap .mui-content .mui-indexed-list-inner .mui-table-view:after{
  height: 0;
}
.wrap .mui-content .mui-indexed-list-inner .mui-table-view .mui-table-view-cell:after{
  left: 0;
  background-color: #d7d7d7;
}
.mui-indexed-list-inner {
  width: calc(100% + 10px);
  margin-top: 1.367rem;
}