* {
  padding: 0;
  margin: 0;
}
.wrap .topList {
  background-color: #fff;
  padding: 0 0.453rem;
}
.wrap .topList > li {
  height: 1.067rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f2f5f7;
}
.wrap .topList .listMoney > span:first-child {
  font-size: 0.347rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #333333;
}
.wrap .topList .listMoney > span:last-child {
  font-size: 0.400rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #ff3b30;
}
.wrap .topList .listTime > span:first-child {
  font-size: 0.347rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #333333;
}
.wrap .topList .listTime > span:last-child {
  font-size: 0.320rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #999999;
}
.wrap .topList .listTime > span:last-child > em {
  font-style: normal;
  margin-left: 0.213rem;
}
.wrap .listReason {
  height: 1.440rem;
  padding: 0.267rem 0.453rem;
  background-color: #fff;
  font-size: 0.347rem;
  line-height: 0.347rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #333333;
}
.wrap .listReason > p {
  text-indent: 2em;
  font-size: 0.320rem;
  line-height: 0.800rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #999999;
}
.wrap .handle {
  margin-top: 0.267rem;
  padding: 0px 0.453rem;
  background-color: #fff;
}
.wrap .handle .handle_time {
  height: 1.067rem;
  border-bottom: 1px solid #f2f5f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .handle .handle_time > span:first-child {
  font-size: 0.347rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #333;
}
.wrap .handle .handle_time > span:last-child {
  font-size: 0.320rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #999999;
}
.wrap .handle .handle_time > span:last-child > em {
  font-style: normal;
  margin-left: 0.213rem;
}
.wrap .handle .handle_opinion {
  height: 0.800rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .handle .handle_opinion > span:first-child {
  font-size: 0.347rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #333;
}
.wrap .handle .handle_opinion > span:last-child {
  font-size: 0.320rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #ff3b30;
}
.wrap .handle .msg {
  padding-left: 0.533rem;
  padding-bottom: 0.267rem;
  font-size: 0.320rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #999999;
}
.wrap .btnBox {
  margin-top: 0.667rem;
  width: 100%;
}
.wrap .btnBox .btn_link {
  display: block;
  width: 9.093rem;
  height: 0.933rem;
  border: 1px solid #108ee9;
  border-radius: 0.453rem;
  margin: auto;
  color: #108ee9;
  text-align: center;
  line-height: 0.933rem;
  font-size: 0.400rem;
}
.wrap .btnBox .btn_back {
  display: block;
  width: 9.093rem;
  height: 0.933rem;
  background-color: #108ee9;
  border-radius: 0.453rem;
  border: none;
  color: #fff;
  font-size: 0.400rem;
  margin: 0.800rem auto;
}
.wrap .btnBox .btn_back:active {
  background-color: #108ee9;
}
