* {
  padding: 0;
  margin: 0;
}
body,
html {
  background-color: #f2f5f7;
}
.wrap {
  padding: 0 0.453rem;
}
.wrap .inputBox {
  height: 1.067rem;
  border-bottom: 1px solid #108EE9;
}
.wrap .inputBox input[type=text] {
  border: none;
  background-color: #f2f5f7;
  font-size: 0.320rem;
  height: 1.040rem;
  margin-bottom: 0;
}
.wrap .inputBox ::placeholder {
  font-size: 0.320rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #999999;
}
.wrap .info {
  padding-left: 0.320rem;
  font-size: 0.293rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #999999;
}
.wrap .btnBox {
  margin-top: 0.667rem;
}
.wrap .btnBox .btn {
  float: right;
  width: 2.400rem;
  height: 0.933rem;
  padding: 0;
  text-align: center;
  background-color: #108ee9;
  border-radius: 5px;
  border: solid 1px #108ee9;
  font-size: 0.400rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.933rem;
  letter-spacing: 0px;
  color: #ffffff;
}
