* {
  padding: 0;
  margin: 0;
}
.wrap form .textarea {
  overflow: hidden;
  border: none;
  padding: 0.453rem;
}
.wrap .note {
  width: 100%;
  text-align: right;
  height: 0.533rem;
  font-size: 0.400rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  line-height: 0.533rem;
  color: #999999;
  padding-right: 0.453rem;
}
.wrap .submit {
  margin: 0.267rem 0.453rem 0 0.453rem;
  height: 1.067rem;
  background-color: #108EE9;
  color: #fff;
  border-radius: 0.533rem;
  font-size: 0.400rem;
  line-height: 1.067rem;
  text-align: center;
}
