* {
  padding: 0;
  margin: 0;
}
.wrap form .newPas {
  height: 1.200rem;
  padding: 0 0.453rem;
  border-bottom: 1px solid #f2f5f7;
  background-color: #fff;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}
.wrap form .newPas > label {
  width: 20%;
  height: 1.173rem;
  line-height: 1.173rem;
  font-size: 0.400rem;
  letter-spacing: 0px;
  color: #333333;
}
.wrap form .newPas > input[type=password] {
  border: none;
  height: 1.173rem;
  margin: 0;
  font-size: 0.400rem;
  width: 80%;
}
.wrap form .newPas ::placeholder {
  font-size: 0.400rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #999999;
}
.wrap form .verify {
  height: 1.200rem;
  padding: 0 0.453rem;
  background-color: #fff;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}
.wrap form .verify > label {
  width: 20%;
  height: 1.173rem;
  line-height: 1.173rem;
  font-size: 0.400rem;
  letter-spacing: 0px;
  color: #333333;
}
.wrap form .verify > input[type=password] {
  border: none;
  height: 1.173rem;
  margin: 0;
  font-size: 0.400rem;
  width: 80%;
}
.wrap form .verify ::placeholder {
  font-size: 0.400rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #999999;
}
.wrap form .btnBox {
  width: 100%;
  margin-top: 0.667rem;
}
.wrap form .btnBox .btn {
  width: 9.093rem;
  height: 1.067rem;
  margin: 0 auto;
  padding: 0;
  background-color: #108ee9;
  border-radius: 0.533rem;
  color: #fff;
  font-size: 0.400rem;
  line-height: 1.067rem;
  text-align: center;
  border: none;
}
