* {
  padding: 0;
  margin: 0;
}
.wrap .pic_logo {
  margin: auto;
  width: 9.333rem;
  padding-top: 0.533rem;
}
.wrap .pic_logo > img {
  display: block;
  width: 100%;
  height: 100%;
}
.wrap .title {
  margin: 0.667rem auto;
  font-size: 0.613rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #108ee9;
  text-align: center;
}
.wrap .btnBox {
  margin-top: 2.000rem;
  width: 100%;
}
.wrap .btnBox .btnCutover {
  display: block;
  margin: auto;
  width: 9.093rem;
  height: 1.067rem;
  background-color: #108ee9;
  border-radius: 0.533rem;
  color: #fff;
  font-size: 0.400rem;
  border: none;
}
.wrap .btnBox .btnCutover:active {
  background-color: #108EE9;
}
.wrap .btnBox .btnBalck {
  display: block;
  margin: 0.667rem auto;
  width: 9.093rem;
  height: 1.067rem;
  background-color: #fff;
  border-radius: 0.533rem;
  color: #108EE9;
  border: 1px solid #108EE9;
  font-size: 0.400rem;
}
.wrap .btnBox .btnBalck:active {
  background-color: #fff;
  color: #108EE9;
}
