* {
  padding: 0;
  margin: 0;
}
.wrap .prompt {
  padding: 0.267rem 0.453rem;
  font-size: 0.347rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #666666;
}
.wrap .cardName {
  padding: 0 0.453rem;
  height: 1.200rem;
  line-height: 1.200rem;
  background-color: #fff;
  border: 1px solid #f2f5f7;
}
.wrap .cardName > label {
  display: inline-block;
  width: 1.600rem;
  font-size: 0.400rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #333333;
}
.wrap .cardName > input[type=text] {
  border: none;
  height: 1.067rem;
  width: 6.667rem;
  font-size: 0.400rem;
  padding: 0;
  margin-bottom: 0;
}
.wrap .cardName ::placeholder {
  font-size: 0.400rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #999999;
}
.wrap .cardNub {
  padding: 0 0.453rem;
  height: 1.200rem;
  line-height: 1.200rem;
  background-color: #fff;
  border: 1px solid #f2f5f7;
}
.wrap .cardNub > label {
  display: inline-block;
  width: 1.600rem;
  font-size: 0.400rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #333333;
}
.wrap .cardNub > input[type=text] {
  border: none;
  width: 6.667rem;
  height: 1.067rem;
  font-size: 0.400rem;
  padding: 0;
  margin-bottom: 0;
}
.wrap .cardNub ::placeholder {
  font-size: 0.400rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #999999;
}
.wrap .btnBox {
  margin-top: 0.667rem;
  width: 100%;
}
.wrap .btnBox .btn {
  display: block;
  margin: auto;
  width: 9.093rem;
  height: 1.067rem;
  padding: 0;
  background-color: #108ee9;
  border-radius: 0.533rem;
  font-size: 0.400rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #ffffff;
}
